.idea/*
!.idea/copyright
!.idea/externalDependencies.xml
!.idea/icon.png
!.idea/runConfigurations
*.iml
*.ipr
*.iws
out/
*.class
hs_err_pid*
.gradle
**/build/
secrets.gradle.kts
.sandbox/
JetBrains-Discord-Integration-*.zip
bot/config.yaml
plugin/src/generated/
